.tool {
  margin-bottom: 20px;
}

.bar {
  padding-top: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * {
  width: 50%;
}

.some-button > * {
  width: 15%!important;
}

.file_upload {
  display: flex;
  flex-direction: row;
}

#spacer {
  margin: auto;
}
