<div class="tool">
  <mat-toolbar color="primary" class="bar">
    <mat-toolbar-row>
      <span>All companies</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container">
  <mat-form-field>
    <label>
      <input matInput placeholder="Name" [(ngModel)]="company.name">
    </label>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="company.description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Topic" [(ngModel)]="company.topic">
      <mat-option value="Option">Option</mat-option>
      <mat-option value="Electronics">Electronics</mat-option>
      <mat-option value="Education">Education</mat-option>
      <mat-option value="Multiplication">Multiplication</mat-option>
      <mat-option value="Music">Music</mat-option>
      <mat-option value="Games">Games</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <label>
      <input matInput placeholder="Video link (from Youtube)" [(ngModel)]="company.video">
    </label>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Purpose" type="number" class="example-right-align" [(ngModel)]="company.needMoney">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.0</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a expiry date"
           [(ngModel)]="company.endDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="file_upload">
    <input id="file" type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera">
    <span id="spacer"></span>
    <button mat-raised-button color="accent" [disabled]="loading" (click)="upload()">Upload</button>
  </div>
  <div class="some-button container">
    <button mat-raised-button color="primary" (click)="createCompany()">Create</button>
  </div>
</div>
