<div class="mat-background-accent">
  <div class="list">
    <mat-list>
      <h1 mat-subheader>Users</h1>
      <mat-list-item *ngFor="let user of users">
        <mat-checkbox  [(ngModel)] = "user.checked"></mat-checkbox>
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <h4 mat-line [ngStyle]="{'color': user.isBlocked ? 'red' : 'black' }">{{user.name}}</h4>
        <p mat-line> {{user.email}} </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="button-row" align="center">
    <h3>Events</h3>
    <input type="hidden"/>
    <button mat-raised-button color="primary" type="submit" name="block" (click)="blockUsers()">Block</button>
    <button mat-raised-button color="accent" type="submit" name="unblock" (click)="unblockUsers()">Unblock</button>
    <button mat-raised-button color="warn" type="submit" name="delete" (click)="deleteUsers()">Delete</button>
  </div>
</div>
