<div class="app-content">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="span" *ngIf="auth.isLoggedIn()"><a mat-button routerLink="/create-company">Create Company</a></span>
      <span class="span" *ngIf="!auth.isLoggedIn()"><a mat-button routerLink="/login">Sign in</a></span>
      <span class="span"><a mat-button routerLink="/"><b><i>KickBarter</i></b></a></span>
      <span>
        <mat-form-field>
  <mat-select [formControl]="search" placeholder="Company" #singleSelect>
    <mat-option>
      <ngx-mat-select-search [formControl]=""></ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let company" [value]="search">
      {{company.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
      </span>
      <span class="span" *ngIf="auth.isLoggedIn()"><a mat-button
                                                      routerLink="/profile">{{ auth.getUserDetails()?.name }}</a></span>
      <span class="span" *ngIf="auth.isLoggedIn()"><a mat-button (click)="auth.logout()">Logout</a></span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
