.tool {
  margin-bottom: 20px;
}
.bar {
  padding-top: 60px;
}
.company {
  max-width: 290px;
  margin: 1%;
}
.company:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.2s;
}


.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container * > {
  width: 95%;
}
