<div class="tool">
  <mat-toolbar color="primary" class="bar">
    <mat-toolbar-row>
      <span>{{'register' | translate}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>{{'register' | translate}}</h1>
      <p class="lead">{{'registerMess' | translate}}<a routerLink="/login">{{'registerMess2' | translate}}</a>{{'loginMess3' | translate}}</p>
      <form (submit)="register()">
        <div class="form-group">
          <label>{{'registerName' | translate}}</label>
          <input matInput name="name" placeholder="{{'registerName2' | translate}}" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label>{{'registerEmail' | translate}}</label>
          <input matInput name="email" placeholder="{{'loginEmail' | translate}}" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label>{{'password' | translate}}</label>
          <input matInput name="password" placeholder="{{'password' | translate}}" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" mat-raised-button color="primary">{{'register' | translate}}!</button>
      </form>
    </div>
  </div>
</div>
<app-alerts></app-alerts>
