<div class="tool">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Your Profile</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container">
  <mat-card>
    <div class="row">
      <div class="col-md-6">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-3 control-label">Full name</label>
            <p class="form-control-static">{{ details?.name }}</p>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <p class="form-control-static">{{ details?.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
