<div class="tool">
  <mat-toolbar color="primary" class="bar">
    <mat-toolbar-row>
      <span>Login</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container">
  <div class="">

    <div class="col-md-6">

      <h1 class="form-signin-heading">Sign in</h1>
      <p class="lead">Not a member? Please <a routerLink="/register">register</a> instead.</p>

      <form (submit)="login()">
        <div class="form-group">
          <mat-form-field>
            <input matInput type="email" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput type="password" name="password" placeholder="Password"
                   [(ngModel)]="credentials.password">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">Sign in!</button>
      </form>

    </div>
  </div>
  <app-alerts></app-alerts>
</div>
