<div class="spinner">
  <mat-spinner *ngIf="!isCompanyAvailable"></mat-spinner>
</div>
<div class="tool">
  <mat-toolbar color="primary" class="bar">
    <mat-toolbar-row>
      <span *ngIf="isCompanyAvailable">{{company.name}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="container" *ngIf="isCompanyAvailable">
  <div class="right-content">
    <div class="description">
      <mat-card>
        <div>
          <b>Description:</b><br>
          {{company.description}}
        </div>
        <br>
        <div fxFlex id="visor-video" *ngIf="displayURL">
          <iframe
            width="450"
            height="350"
            [src]="displayURL"
          ></iframe>
        </div>
        <br>
        <div>
          <b>Fundraising Date: </b> {{company.endDate}}<br>
          <b>Fundraising money:</b> {{sumOfDonates(company.collectedMoney)}} of {{company.needMoney}}<br>
          <mat-progress-bar mode="determinate" value="{{sumInPercent(sumOfDonates(company.collectedMoney))}}"></mat-progress-bar>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="sidenav">
    <mat-card>
      <img class="image" src="{{company.imageUrl}}" alt="Image by company">
      <bar-rating *ngIf="rate" [theme]="'stars'" [(rate)]="rate" [max]="5" (rateChange)="addRating()"></bar-rating>
      <div class="donate">
        <b>Want to help develop this company?</b><br>
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Sum for donate" [(ngModel)]="value">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=0">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="useDonate()">Donate</button>
      </div>
    </mat-card>
  </div>
</div>
