.tool {
  margin-bottom: 20px;
}

.bar {
  padding-top: 60px;
}

.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.spinner > * {
  width: 50%;
}

img {
  width: 40%;
}

.container {
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 20%; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.right-content {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0 10px;
}
