.tool {
  margin-bottom: 20px;
}

.bar {
  padding-top: 60px;
}

.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.spinner > * {
  width: 50%;
}

img {
  width: 85%;
}

.image {
}

.container {
  display: flex;
  flex-direction: row;
}

.sidenav {
  padding-top: 20px;
  height: 97%; /* Full-height: remove this if you want "auto" height */
  width: 21.5%; /* Set the width of the sidebar */
  margin-right: 5%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 20%; /* Stay at the top */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.right-content {
  margin-left: 33%; /* Same as the width of the sidebar */
  margin-right: 1%;
  padding: 0 10px;
  min-width: 510px;

}

.right-content-2 {
  width: 100%;
}

.full-width {
  width: 100%;
}

.list_items {
  display: flex;
  flex-direction: column-reverse;
}

#news-input {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
}

.news_content {
  display: flex;
  flex-direction: column;
}

.news_title {
  margin-bottom: 10px;
}
